In [3]:
import pandas as pd
import numpy as np

In [4]:
def renameColumns(df, fname = None):
    data_path='input/BDB2022-plots/'
    df.index.name = 'playerName'
    names_dict = {'count': 'totalSnaps',
        'mean': 'avgFireTime',
        'median':'medFireTime'
    }

    to_rename = {key: names_dict[key] for key in names_dict.keys() if key in df.columns}
    df = df.round(2).rename(columns = to_rename)
    if fname is not None:
        # df.to_csv(data_path + fname)
        pass

    return df

In [5]:
gunners_array = np.array(
    [
        [38707, 45648, 42718, 43988, 45021, 33234, 38596, 39222,],
        [45020, 46221, 39975, 46671, 43495, 42094, 47915, 45797,],
        [46233, 47822, 45657, 41354, 43488, 46522, 48241, 46263],
        [42397, 46992, 46729, 42359, 46178, 43396, 46724, 46349],
    ]
)

In [6]:
df = pd.read_csv('firstFire2019_2.csv')
dfplays = pd.read_csv('input/nfl-big-data-bowl-2022/plays.csv')
games = pd.read_csv('input/nfl-big-data-bowl-2022/games.csv')
players= pd.read_csv('input/nfl-big-data-bowl-2022/players.csv')

dfplays = dfplays[['gameId','playId','quarter','down', 'gameClock','playResult', 'playDescription']]

In [7]:
df = df.merge(players[['nflId','Position','displayName']])
df = df[df.nflId.isin(gunners_array.ravel())]

In [8]:
df1 = df[df['vises'] == 1]
df2 = df[df['vises'] == 2]

In [10]:
df1[df1.displayName.str.contains('Facyson')].sort_values(by = 'fireTimeS')

,pid,gameId,playId,jerseyRank,isLeft,isRight,nflId,vises,vise1,vise2,optimal_time,alt_time,path_time,fire_time,fireTimeS,Position,displayName
1086,4139,2019122908,1415,0,0,1,46729.0,1.0,46757.0,NaN,7.173571,10.279171,7.810639,0.637,0.089,CB,Brandon Facyson
1068,3005,2019102702,125,0,0,1,46729.0,1.0,37212.0,NaN,6.703229,9.907229,7.562201,0.859,0.128,CB,Brandon Facyson
1082,3946,2019122201,708,0,0,1,46729.0,1.0,48241.0,NaN,6.773922,9.957522,7.651700,0.878,0.130,CB,Brandon Facyson
1081,3944,2019122201,447,0,0,1,46729.0,1.0,48241.0,NaN,5.977420,9.236620,6.830394,0.853,0.143,CB,Brandon Facyson
1072,3012,2019102702,3998,0,0,1,46729.0,1.0,41240.0,NaN,6.208363,9.508363,7.100922,0.893,0.144,CB,Brandon Facyson
1074,3196,2019110700,711,0,0,1,46729.0,1.0,47912.0,NaN,6.112240,9.414640,7.070085,0.958,0.157,CB,Brandon Facyson
1060,2740,2019100610,2531,1,0,1,46729.0,1.0,46168.0,NaN,6.278922,7.286213,8.514950,1.007,0.160,CB,Brandon Facyson
1059,2738,2019100610,2218,1,0,1,46729.0,1.0,46168.0,NaN,6.621583,9.612849,7.713329,1.092,0.165,CB,Brandon Facyson
1056,2225,2019090807,122,0,0,1,46729.0,1.0,47817.0,NaN,5.175006,8.519406,6.064318,0.889,0.172,CB,Brandon Facyson
1080,3943,2019122201,213,0,0,1,46729.0,1.0,48241.0,NaN,5.688213,8.748213,6.677500,0.989,0.174,CB,Brandon Facyson
1067,2956,2019102008,2418,0,0,1,46729.0,1.0,40031.0,NaN,4.956719,8.235119,5.862194,0.905,0.183,CB,Brandon Facyson
1057,2228,2019090807,2330,0,0,1,46729.0,1.0,41356.0,NaN,5.477819,8.823419,6.492549,1.015,0.185,CB,Brandon Facyson
1079,3899,2019121513,2364,0,0,1,46729.0,1.0,46466.0,NaN,6.200007,9.305607,7.374041,1.174,0.189,CB,Brandon Facyson
1083,3948,2019122201,978,0,0,1,46729.0,1.0,48241.0,NaN,5.082058,8.356858,6.192487,1.110,0.218,CB,Brandon Facyson
1062,2744,2019100610,3733,0,0,1,46729.0,1.0,46168.0,NaN,5.450576,8.694176,6.649685,1.199,0.220,CB,Brandon Facyson
1073,3182,2019110310,1097,1,0,1,46729.0,1.0,46724.0,NaN,5.043125,8.678202,6.175712,1.133,0.225,CB,Brandon Facyson
1071,3010,2019102702,1441,0,0,1,46729.0,1.0,37212.0,NaN,5.296435,8.669635,6.526063,1.230,0.232,CB,Brandon Facyson
1065,2873,2019101311,2102,0,0,1,46729.0,1.0,47866.0,NaN,4.793707,8.111707,6.050440,1.257,0.262,CB,Brandon Facyson
1063,2870,2019101311,158,0,0,1,46729.0,1.0,47866.0,NaN,6.183276,9.320076,8.642380,2.459,0.398,CB,Brandon Facyson
1075,3199,2019110700,2513,0,0,1,46729.0,1.0,47912.0,NaN,6.568745,9.880745,9.187588,2.619,0.399,CB,Brandon Facyson
1061,2742,2019100610,2705,1,0,1,46729.0,1.0,46168.0,NaN,5.511343,7.896833,NaN,2.385,0.433,CB,Brandon Facyson
1066,2955,2019102008,2184,0,0,1,46729.0,1.0,40031.0,NaN,7.039454,10.379054,NaN,3.340,0.474,CB,Brandon Facyson
1077,3405,2019111800,3359,0,0,1,46729.0,1.0,46757.0,NaN,5.074984,8.385784,7.768584,2.694,0.531,CB,Brandon Facyson
1064,2872,2019101311,831,0,0,1,46729.0,1.0,47866.0,NaN,4.754555,8.119355,7.456286,2.702,0.568,CB,Brandon Facyson
1076,3200,2019110700,2701,0,0,1,46729.0,1.0,47912.0,NaN,5.107428,8.209428,8.051407,2.944,0.576,CB,Brandon Facyson
1069,3007,2019102702,413,0,0,1,46729.0,1.0,37212.0,NaN,5.588434,8.883634,NaN,3.295,0.590,CB,Brandon Facyson
1085,3952,2019122201,3152,0,0,1,46729.0,1.0,48241.0,NaN,5.051427,8.364627,NaN,3.313,0.656,CB,Brandon Facyson
1084,3950,2019122201,1249,0,0,1,46729.0,1.0,48241.0,NaN,4.149326,7.504526,7.727198,3.355,0.809,CB,Brandon Facyson

In [18]:
pdf = df1.groupby('displayName')['fireTimeS'].agg(['mean', 'median', 'count']).sort_values(by = 'mean')
pdf.pipe(renameColumns,fname = 'gunners1.csv')

                       avgFireTime  medFireTime  totalSnaps
playerName
Brandon Facyson               0.31         0.22          28
Josh Robinson                 0.31         0.28          25
Tony Brown                    0.33         0.29          21
Justin Bethel                 0.34         0.28          44
Walt Aikens                   0.35         0.31          37
Chris Moore                   0.37         0.31          31
Mike Thomas                   0.37         0.34          46
Fred Brown                    0.38         0.28          44
Dane Cruikshank               0.38         0.31          57
Ameer Abdullah                0.38         0.32          27
Dee Virgin                    0.38         0.30          39
Raheem Mostert                0.40         0.29          15
Ugochukwu Amadi               0.40         0.35          48
Trent Sherfield               0.40         0.42          45
George Odum                   0.41         0.45          43
Troy Apke                     0.41         0.28          41
Rudy Ford                     0.41         0.41          23
Khadarel Hodge                0.41         0.42          38
Josh Bellamy                  0.41         0.34          24
Brandon Wilson                0.42         0.34          30
Keisean Nixon                 0.42         0.38          37
C.J. Goodwin                  0.42         0.35          34
Justin Hardee                 0.42         0.36          45
Cody Core                     0.43         0.33          46
Johnny Holton                 0.43         0.36          47
Cordarrelle Patterson         0.44         0.36          40
Byron Pringle                 0.44         0.42          31
Russell Gage                  0.45         0.44          14
Matt Slater                   0.45         0.36          45
Kevin Johnson                 0.50         0.58          37
Natrell Jamerson              0.55         0.65          10
Sean Murphy-Bunting           0.55         0.59           7

In [19]:
pdf = df2.groupby('displayName')['fireTimeS'].agg(['mean', 'median', 'count']).sort_values(by = 'median')
pdf[pdf['count']>=7].pipe(renameColumns, fname = 'gunners2.csv')

                       avgFireTime  medFireTime  totalSnaps
playerName
George Odum                   0.36         0.29          10
Ameer Abdullah                0.41         0.33           7
Keisean Nixon                 0.42         0.45          11
Mike Thomas                   0.51         0.45           9
Cordarrelle Patterson         0.49         0.47          25
Troy Apke                     0.49         0.49          21
Dane Cruikshank               0.47         0.49          18
Raheem Mostert                0.49         0.49          14
Khadarel Hodge                0.53         0.50          11
Josh Robinson                 0.47         0.50           8
Brandon Wilson                0.48         0.50          14
Tony Brown                    0.42         0.52           9
Matt Slater                   0.49         0.52          24
Rudy Ford                     0.52         0.52          12
Johnny Holton                 0.47         0.52          16
Walt Aikens                   0.53         0.52          23
Fred Brown                    0.48         0.52          11
Cody Core                     0.49         0.53          12
Ugochukwu Amadi               0.48         0.53          10
Russell Gage                  0.49         0.53           7
Kevin Johnson                 0.50         0.53           7
Trent Sherfield               0.52         0.54          13
Josh Bellamy                  0.51         0.54          14
Justin Hardee                 0.54         0.55           9
Dee Virgin                    0.53         0.56          23
Justin Bethel                 0.52         0.57           7
C.J. Goodwin                  0.47         0.57          11

In [20]:
df[df.displayName == 'Justin Bethel'][['optimal_time', 'alt_time', 'path_time',
       'fire_time', 'fireTimeS']].describe()

       optimal_time   alt_time  path_time  fire_time  fireTimeS
count     51.000000  51.000000  31.000000  51.000000  51.000000
mean       5.312941   8.271683   6.636766   1.883275   0.364882
std        0.871578   0.859703   1.350500   1.043838   0.229746
min        3.338538   6.330586   4.664191   0.777000   0.122000
25%        4.739977   7.583237   5.611041   1.120500   0.214500
50%        5.333926   8.312495   6.364014   1.411000   0.300000
75%        5.951032   8.990561   7.217686   2.305000   0.397000
max        7.287499   9.898680   9.978473   5.885000   1.466000

## VISES

In [21]:
dfv1 = df1.drop(columns = ['nflId', 'displayName','Position']).copy()
dfv1 = dfv1.merge(players[['nflId','Position','displayName']], how = 'left', left_on = 'vise1', right_on = 'nflId')
dfv1

,pid,gameId,playId,jerseyRank,isLeft,isRight,vises,vise1,vise2,optimal_time,alt_time,path_time,fire_time,fireTimeS,nflId,Position,displayName
0,2315,2019091503,1296,1,0,1,1.0,42354.0,NaN,7.085391,7.829501,NaN,0.744,0.105,42354,CB,Trae Waynes
1,2317,2019091503,1559,1,0,1,1.0,42354.0,NaN,6.032933,7.817520,6.973900,0.941,0.156,42354,CB,Trae Waynes
2,2318,2019091503,2182,1,0,1,1.0,48216.0,NaN,6.283514,8.114937,NaN,1.831,0.291,48216,CB,Nate Meadors
3,2319,2019091503,2852,1,0,1,1.0,48216.0,NaN,4.337344,9.138326,5.711102,1.374,0.317,48216,CB,Nate Meadors
4,2323,2019091503,3619,1,0,1,1.0,48216.0,NaN,5.763909,9.938424,NaN,4.175,0.724,48216,CB,Nate Meadors
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,4169,2019122913,123,0,0,1,1.0,48241.0,NaN,5.694505,9.035305,6.543274,0.849,0.149,48241,CB,Keisean Nixon
1095,4170,2019122913,604,0,0,1,1.0,48241.0,NaN,5.442857,8.644457,NaN,3.202,0.588,48241,CB,Keisean Nixon
1096,4171,2019122913,1584,0,0,1,1.0,48241.0,NaN,6.368641,9.675841,NaN,3.307,0.519,48241,CB,Keisean Nixon
1097,4173,2019122913,2236,0,0,1,1.0,48241.0,NaN,6.970048,10.217248,NaN,3.247,0.466,48241,CB,Keisean Nixon
1098,4176,2019122913,3837,0,0,1,1.0,48241.0,NaN,5.968303,9.041503,NaN,3.073,0.515,48241,CB,Keisean Nixon

In [22]:
dfv1.displayName.value_counts()

Isaac Yiadom       33
J.C. Jackson       28
Justin Bethel      26
Tavierre Thomas    23
Nate Hairston      23
                   ..
Jalen Mills         1
Armani Watts        1
Jourdan Lewis       1
Cre'von LeBlanc     1
Alex Brown          1
Name: displayName, Length: 182, dtype: int64

In [23]:
pdf = dfv1.groupby('displayName')['fireTimeS'].agg(['mean', 'median', 'count']).sort_values(by = 'mean', ascending = False)
pdf[pdf['count']>=15].pipe(renameColumns, fname = 'vises1.csv')

                   avgFireTime  medFireTime  totalSnaps
playerName
Rasul Douglas             0.51         0.47          16
Johnny Holton             0.51         0.50          18
Jaylen Watkins            0.50         0.48          16
Keion Crossen             0.46         0.40          19
J.C. Jackson              0.44         0.46          28
Avonte Maddox             0.40         0.41          16
Emmanuel Moseley          0.40         0.35          15
Josh Robinson             0.39         0.32          20
Isaac Yiadom              0.38         0.30          33
Keisean Nixon             0.38         0.27          20
Rudy Ford                 0.37         0.32          18
Justin Bethel             0.37         0.30          26
Tony McRae                0.37         0.28          16
Nate Hairston             0.37         0.35          23
Kevin Johnson             0.35         0.26          17
Tavierre Thomas           0.34         0.31          23
Charvarius Ward           0.33         0.30          21
Tre'Davious White         0.33         0.31          17

## Finding the play

In [110]:
games = pd.read_csv('input/nfl-big-data-bowl-2022/games.csv')

In [111]:
games.query('season == 2019 and week == 14')

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
444,2019120500,2019,14,12/05/2019,20:20:00,CHI,DAL
445,2019120800,2019,14,12/08/2019,13:00:00,ATL,CAR
446,2019120801,2019,14,12/08/2019,13:00:00,BUF,BAL
447,2019120802,2019,14,12/08/2019,13:00:00,CLE,CIN
448,2019120803,2019,14,12/08/2019,13:00:00,GB,WAS
449,2019120804,2019,14,12/08/2019,13:00:00,HOU,DEN
450,2019120805,2019,14,12/08/2019,13:00:00,MIN,DET
451,2019120806,2019,14,12/08/2019,13:00:00,NO,SF
452,2019120807,2019,14,12/08/2019,13:00:00,NYJ,MIA
453,2019120808,2019,14,12/08/2019,13:00:00,TB,IND
454,2019120809,2019,14,12/08/2019,16:05:00,JAX,LAC
455,2019120810,2019,14,12/08/2019,16:25:00,ARI,PIT
456,2019120811,2019,14,12/08/2019,16:25:00,NE,KC
457,2019120812,2019,14,12/08/2019,16:25:00,OAK,TEN
458,2019120813,2019,14,12/08/2019,20:20:00,LA,SEA
459,2019120900,2019,14,12/09/2019,20:15:00,PHI,NYG

In [112]:
df.query('gameId == 2019120806').sort_values('playId').merge(dfplays, how = 'left', on = ['gameId','playId']).drop(
    columns = ['vise1', 'vise2',]
)

Empty DataFrame
Columns: [pid, jerseyRank, isLeft, isRight, nflId, vises, optimal_time, alt_time, path_time, fire_time, fireTimeS, Position, displayName, gameId, playId, quarter, down, gameClock, playResult, playDescription]
Index: []

In [113]:
df

,pid,gameId,playId,jerseyRank,isLeft,isRight,nflId,vises,vise1,vise2,optimal_time,alt_time,path_time,fire_time,fireTimeS,Position,displayName
0,2154,2019090500,125,0,1,0,43452.0,2.0,37212.0,43413.0,6.272559,9.429759,NaN,3.157,0.503,WR,Trevor Davis
1,2156,2019090500,443,0,1,0,43452.0,2.0,37212.0,43413.0,6.901939,10.153939,NaN,3.252,0.471,WR,Trevor Davis
2,2157,2019090500,744,0,1,0,43452.0,1.0,37212.0,NaN,3.291712,6.662512,5.041122,1.749,0.531,WR,Trevor Davis
3,2160,2019090500,1588,0,1,0,43452.0,2.0,43413.0,47988.0,5.876657,9.139457,NaN,3.263,0.555,WR,Trevor Davis
4,2162,2019090500,2004,0,1,0,43452.0,1.0,37092.0,NaN,4.815190,8.189590,7.008535,2.193,0.456,WR,Trevor Davis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,2978,2019102100,724,1,0,1,43616.0,1.0,47828.0,NaN,4.640851,8.261587,7.436463,2.796,0.602,FS,Matthias Farley
1569,2982,2019102100,3149,1,0,1,43616.0,1.0,47828.0,NaN,6.150256,9.414595,NaN,3.264,0.531,FS,Matthias Farley
1570,2983,2019102100,3623,1,0,1,43616.0,2.0,43700.0,47828.0,5.785579,8.180743,NaN,2.395,0.414,FS,Matthias Farley
1571,2985,2019102100,4039,1,0,1,43616.0,1.0,43700.0,NaN,3.645953,7.135214,5.158997,1.513,0.415,FS,Matthias Farley
1572,2988,2019102100,4411,1,0,1,43616.0,1.0,43700.0,NaN,5.443511,8.405559,8.510249,2.962,0.544,FS,Matthias Farley